<messageML>
    {{#if showClaim}}
        <action id="claimTicket" class="tempo-btn tempo-btn--good"/>
    {{else}}
        <label for="labelClaim" class="labelClaim">Claim for: {{userName}}</label>
    {{/if}}
</messageML>