<messageML>
    {{#if showClaim}}
        <action id="claimTicket" class="tempo-btn tempo-btn--good"/>
    {{else}}
        <label class="label">Claim for: {{userName}}</label>
    {{/if}}
</messageML>