<messageML>
    {{#if showClaim}}
        <action id="claimTicket" class="tempo-btn tempo-btn--good"/>
    {{else}}
        <label class="label">Claimed by: {{userName}}.</label>
        {{#if resolved}}
            <label class="label">This ticket is closed.</label>
        {{else}}
            {{#if isTicketRoomMember}}
                <label class="label">You are a member of this ticket's room.</label>
            {{else}}
                <action id="joinConversation" class="tempo-text-color--link"/>
            {{/if}}
        {{/if}}
    {{/if}}
</messageML>