[Unit]
Description=Symphony Helpdesk API
After=syslog.target network.target

[Service]
ExecStart=/data/symphony/helpdesk/bin/startup.sh

KillSignal=SIGTERM

User=root
Group=root

[Install]
WantedBy=multi-user.target